$gray: #CCCCCC

// function colors
$border: #DDDDDD
$transparent: transparent
$black: #000
$white: #fff

// bg-colors
$gray-bg-nav: #EEEEEE
$gray-bg-cal: #F0F0F0
$gray-bg-page: #FAFAFA
$red-bg: #FFF7F7
$red-hover: #FFE7E7

// add-on colors
$green-typo: #46A063

// Color List
$color-list: 'green' 'gray' 'red' 'pink' 'border' 'transparent' 'black' 'white' 'gray-bg-nav' 'gray-bg-cal' 'gray-bg-page' 'red-bg' 'blue'
$color-map: ('green': $green, 'gray': $gray, 'red': $red, 'pink': $pink, 'border': $border, 'transparent': $transparent, 'black': $black, 'white': $white, 'gray-bg-nav': $gray-bg-nav, 'gray-bg-cal': $gray-bg-cal, 'gray-bg-page': $gray-bg-page, 'red-bg': $red-bg, 'blue': $blue)