main
  display: flex
  flex-flow: column
  min-height: 100vh
  .header
    flex: 0 1 auto
    .header-avatar
      margin-left: 10px
      height: 40px
  .authenticated-page
    flex: 1 1 auto
    display: flex
    .left-side-nav
      width: 250px
      display: flex
      flex-direction: column
      background: $sidenav-bg-color
      a
        height: 40px
        width: 100%
        +flex(flex-start, center)
        padding-left: 50px
        color: $white
        font-size: 18px
        &:hover
          +hover-action()
          background: $sidenav-hover
        &.active
          font-weight: bold
          background: $sidenav-active
    .page-main-content
      width: 100%
      min-height: 100%
      padding: $spacer

.login-page
  min-height: 100vh
  display: flex

  .login-left
    flex: 0 0 50%
    max-width: 50%
    background-image: linear-gradient($white, $login-bg-color, $gray)
    +flex()
    img.logo
      height: 200px
      width: auto

  .login-right
    flex: 0 0 50%
    max-width: 50%
    +flex()
    .user-panel
      width: 100%
      height: fit-content
      padding: 20px
      .title
        text-align: center
        font-weight: 400
        font-size: 36px
        margin-bottom: 20px

.loading-page
  min-height: 100vh
  +flex()